.form-location {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  .btn-wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
      text-transform: uppercase;
      padding: 5px 20px;
      border: none;
      background-color: $base-color;
      color: white;
      border-radius: 2px;
      transition: ease all 1s;
    }

    button:active, button:hover {
      transition: ease all 1s;
      background-color: var(--temp-color-lighter);
    }
  }

  .danger {
    padding-top: 20px;
    text-align: center;
    color: red;
  }
}
