.form-location {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-bottom: 50px;

  .btn-wrapper {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    button {
      z-index: 150;
      text-transform: uppercase;
      padding: 5px 20px;
      border: none;
      color: $base-color;
      border-radius: 2px;
      -webkit-transition: ease all 1s;
      -o-transition: ease all 1s;
      transition: ease all 1s;
      background-color: var(--temp-color-lighter);
    }

    button:active, button:hover {
      -webkit-transition: ease all 1s;
      -o-transition: ease all 1s;
      transition: ease all 1s;
      background-color: var(--temp-color);
    }
  }

  .danger {
    padding-top: 20px;
    text-align: center;
    color: $base-color-white;
  }
}
